@model string;

<div style="position: fixed; right: 1500px; top:500px" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
        <i class="bi bi-bi-plus-circle"></i> Add New
    </a>
</div>