@model Mountain

@{ ViewData["Title"] = "Add a new mountain"; }

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Mountain</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="MountainLogoPreview" class="border-info rounded-circle" style="max-width:150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MountainPictureURL" class="control-label"></label>
                        <input asp-for="MountainPictureURL" class="form-control" />
                        <span asp-validation-for="MountainPictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TrekkingTime" class="control-label"></label>
                        <input asp-for="TrekkingTime" class="form-control" />
                        <span asp-validation-for="TrekkingTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>
            </div>
        </div>
    </div> 
</div>

@section Scripts{
    <script>$(document).ready(function () {
    var output = docucument.getElementById('MountainLogoPreview');
    output.src = $('#MountainPictureURL')
        })

        $("#MountainPictureURL").on("change", function () {
            var output = document.getElementById('MountainLogoPreview');
            output.src = $(this).val();
        })</script>
}